* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #222D32;
}

.stateText {
	padding-top: 30px;
	color: #757575;
	font-size: 1rem;
}

.state span {
	font-size: 2rem;
	color: #fff;
}

input {
	text-align: center;
	margin: auto;
	color: white;
}

.b a {
	font-size: 0.9rem;
	padding: 0 15px;
	font-weight: 900;
}

.clockBorder {
	display: inline-block;
	border-radius: 50%;
	border: 5px solid #26a69a;
	height: 350px;
	width: 350px;
	margin-top: -30px;
	line-height: 350px;
}

.time {
	font-size: 2rem;
	color: #fff;
}

.bottom {
	margin: 30px 0 0px 0;
}

.hide {
	display: none;
}

.stop {
	background-color: #E53935;
}

.stop:hover {
	background-color: #E53935;
}